* {
    margin: 0;
    box-sizing: border-box;
}
.container-form {
    width: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../markup/jpg/container_background.jfif);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.form {
    position: relative;
    width: 460px;
    height: 340px;
    margin-top: 82px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    
}

.form__heading {
    text-transform: uppercase;
    font-size: 31px;
    line-height: 38px;
    color: #161516;
    text-align: center;
    margin-top: 36px;
}

.form__wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 36px;
    padding-left: 20px;
    padding-right: 20px;
}

.form__input {
    height: 39px;
    border: 1px solid #D58C51;
    border-radius: 61px;
    margin-bottom: 15px;
    padding-left: 18px;
    font-size: 16px;
    line-height: 20px;
}

.form__label {
    position: absolute;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    left: 38px;
    z-index: 3;
}

.form__label-email {
    top: 9px;
}

.form__label-pass {
    top: 63px;
}

.form__input::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

}

.form__checkbox {
    display: flex;
    position: relative;
	width: fit-content;
}

.form__input-checkbox {
    position: absolute;
	opacity: 0;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	margin: 0;
}

.form__checkbox-mark {
    width: 18px;
    height: 18px;
    background: #FFFFFF;
    border: 1px solid #D58C51;
    border-radius: 50%;
}

.form__checkbox-label {
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #301411;
    margin-left: 10px;
    margin-top: 4px;
}

.form__input-checkbox:checked + .form__checkbox-mark::after {
    content: '\2714';
    position: absolute;
    color: #D58C51;
    font-size: 21px;
    left: 2px;
    top: -7px;
}

.form__button {
    width: 200px;
    height: 42px;
    background: #D58C51;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #131313;
    border: none;
    padding: 0;
    position: absolute;
    margin-top: 28px;
    left: 130px;
}

.form__button:hover {
    color: #FFFFFF;
}

.form__checkbox-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #787878;
    margin-left: 4px;
    margin-top: 4px;
}

.form__error {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    color: #CB2424;
    margin-bottom: 8px;
    margin-left: 46px;
    position: absolute;
}

.form__email-error {
    display: none;
    top: 39px;
    left: -7px;
}

.form__password-error {
    display: none;
    top: 93px;
    left: -7px;
}

.form__checkbox-error {
    display: none;
    top: 121px;
    left: -7px;
}

@media screen and (max-width: 768px) and (min-width: 430px) and (orientation: portrait) {
    .form {
        margin: 20px 20px;
        width: 100vw;
        height: 95vmax;
    }

    .form__heading {
        font-size: 60px;
        padding-top: 38px;
        margin-top: 0;
        margin-bottom: 13px;
    }

    .form__label {
        font-size: 24px;
        left: 81px;
    }

    .form__label-email {
        top: 12px;
    }

    .form__label-pass {
        top: 72px;
    }

    .form__input {
        width: auto;
        height: 45px;
        padding: 0;
        padding-left: 15px;
    }

    .form__checkbox {
        margin-top: 19px;
    }

    .form__checkbox-mark {
        width: 28px;
        height: 28px;
    }

    .form__checkbox-label {
        font-size: 16px;
        margin-left: 10px;
        margin-top: 8px;
    }

    .form__button {
        width: auto;
        height: auto;
        font-size: 32px;
        border: none;
        margin: 0;
        padding: 32px 90px;
        margin-top: 64px;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .form__input-checkbox:checked + .form__checkbox-mark::after {
        font-size: 32px;
        left: 4px;
        top: -10px;
    }

    .input-star-email {
        top: 33px;
    }

    .input-star-password {
        top: -40px;
    }

    .form__checkbox-link {
        font-size: 18px;
        margin-left: 4px;
        margin-top: 8px;
    }

    .form__error {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 768px) and (min-width: 430px) and (orientation: landscape) {
    .form {
        margin: 8px 20px;
        width: 100vw;;
        height: 95vh;
    }

    .form__heading {
        font-size: 50px;
        padding-top: 20px;
        margin-top: 0;
        margin-bottom: 13px;
    }

    .form__wrapper {
        margin-top: 15px;
    }
    .form__label {
        font-size: 24px;
        left: 81px;
    }

    .form__label-email {
        top: 12px;
    }

    .form__label-pass {
        top: 72px;
    }

    .form__input {
        width: auto;
        height: 45px;
        padding: 0;
        padding-left: 15px;
    }

    .form__checkbox {
        margin-top: 0px;
    }

    .form__checkbox-mark {
        width: 28px;
        height: 28px;
    }

    .form__checkbox-label {
        font-size: 16px;
        margin-left: 10px;
        margin-top: 8px;
    }

    .form__button {
        width: auto;
        height: auto;
        font-size: 32px;
        border: none;
        margin: 0;
        margin-top: 20px;
        padding: 20px 60px;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .form__input-checkbox:checked + .form__checkbox-mark::after {
        font-size: 32px;
        left: 4px;
        top: -10px;
    }

    .input-star-email {
        top: 33px;
    }

    .input-star-password {
        top: -40px;
    }

    .form__checkbox-link {
        font-size: 18px;
        margin-left: 4px;
        margin-top: 8px;
    }

    .form__error {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 430px) {
    .form {
        margin: 20px 20px;
        width: 100vw;;
        height: 95vh;
    }

    .form__button {
        width: auto;
        height: auto;
        font-size: 32px;
        border: none;
        margin: 0;
        padding: 32px 90px;
        margin-top: 64px;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
    }

}

@media screen and (min-width: 769px) and (max-height: 500px) and (orientation: landscape) {
    .form {
        margin-top: 15px;
    }
}