* {
    margin: 0;
    box-sizing: border-box;
}

.container-main {
    background: #161516;
    width: 100%;
    height: 100%;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    padding: 0 70px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 54px;
    padding-bottom: 80px;
}

.header__heading {
    font-weight: bold;
    font-size: 31px;
    line-height: 38px;
    text-transform: uppercase;
    padding-top: 6px;

}

.shoping-card {
    display: flex;
    align-items: center;
}

.quantity-amount-goods {
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    text-align: right;
    margin-right: 20px;
}

.number-goods {
    display: block;
}

.total-amount-goods {
    display: block;
}

.shoping-card__icon {
    background: #D58C51;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shoping-card__icon:hover {
    background: #161516;
    color: #FFFFFF;
    border: 1px solid #D58C51;
}

.main-list {
    display: flex;
    list-style: none;
    padding-left: 0;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list-item {
    padding: 43px 21px 32px 21px;
    width: 312px;
    height: 552px;
    border: 1px solid #D58C51;
    color: #FFFFFF;
    position: relative;
    
    margin-bottom: 35px;
}

.list-item__img {
    margin-bottom: 31px;
}

.list-item__heading {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    margin-bottom: 9px;
    text-align: center;
}

.list-item__paragraph {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

.list-item__basket {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 32px;
}

.list-item__price-gramm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 136px;
    
}
.list-item__basket-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    position: relative;
}

.list-item__basket-icon::after {
    content: '+';
    position: absolute;
    font-weight: normal;
    font-size: 30px;
    line-height: 29px;
    left: 5px;
}

.list-item:hover {
    color: #D58C51;
}

.list-item__basket-icon:hover {
    border: 1px solid #D58C51;
    color: #FFFFFF;
    background: #D58C51;
}